.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  .todo-area {
    max-height: 90%;
    overflow: scroll;
  }
  .edit-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
  .save-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
